@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #0b0b11;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    min-height: 100vh;
    color: #fff;
    
}
/* Scroll Bar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    padding: 2px;
}
::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 100px;
}
.top-headlines .right .top-news::-webkit-scrollbar {
    width: 6px;
}
.top-headlines .right .top-news::-webkit-scrollbar-thumb {
    background-color: #777;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 20px 50px;
    background-color: #0b0b11;
}
.logo {
    font-size: 45px;
    font-weight: 700;
    cursor: pointer;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin: 0 15px;
    padding: 0 10px;
    border-left: 1px solid #fff0;
    border-right: 1px solid #fff0;
    transition: .3s;
}
nav ul li:hover {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
}
/* Top Headlines*/
.top-headlines {
    padding: 100px 50px 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
.top-headlines .left {
    padding: 10px 30px;
    /*background-color: #999;*/
}
.top-headlines .left > .title {
    font-size: 20px;
    padding: 15px;
    text-align: center;
}
.top-headlines .left .img {
    width: 100%;
    height: 400px;
    background-color: #a04;
}
.top-headlines .left .img img {
    width: 100%;
    height: 100%;
}
.top-headlines .left .text {
    padding: 20px 15px 10px;
}
.top-headlines .left .text .title a {
    text-decoration: none;
}
.top-headlines .left .text .title a h2 {
    font-size: 20px;
    letter-spacing: 1px;
    display: inline;
    cursor: pointer;
    color: #fff;
}
.top-headlines .left .text .title a h2:hover {
    text-decoration: underline;
}
.top-headlines .left .text .description {
    font-size: 15px;
    color: #aaa;
    letter-spacing: 1px;
    margin-top: 10px;
}
.top-headlines .right {
    width: 1005;
    height: 500px;
    padding: 10px;
    /*background-color: #999;*/
}
.top-headlines .right > .title {
    font-size: 20px;
    padding: 15px;
    text-align: center;
}
.top-headlines .right .top-news {
    padding: 10px;
    height: 85%;
    border: 1px solid #fff;
    border-radius: 4px;
    overflow-y: scroll;
}
.top-headlines .right .top-news .news {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-bottom: 12px;
}
.top-headlines .right .top-news .news .img {
    width: 140px;
    height: 100px;
    background-color: #a04;
}
.top-headlines .right .top-news .news .img img{
    width: 100%;
    height: 100%;
}
.top-headlines .right .top-news .news .text {
    margin-inline: 10px;
}
.top-headlines .right .top-news .news .text .title a {
    cursor: pointer;
    display: inline;
    color: #f0f0f0;
    text-decoration: none;
}
.top-headlines .right .top-news .news .text .title a:hover {
    text-decoration: underline;
}
/* Page 2 */
.page2 {
    width: 100%;
    background-color: #16161d;
    min-height: 100vh;
    padding: 50px;
}
.page2 .news {
    padding: 30px 0;
    border-bottom: 1px solid #555;
}
.page2 .news:last-child {
    border-bottom: none;
}
.page2 .news > .title h2 {
    font-size: 40px;
    display: inline;
    cursor: pointer;
}
.page2 .news > .title h2:hover {
    text-decoration: underline;
}
.page2 .news .news-box {
    width: 100%;
    margin-top: 20px;
    display: flex;
}
.page2 .news .news-box .news-card {
    width: calc(100% / 5 - 20px); /* 20px is the margin given to each card*/
    margin: 10px;
}
.page2 .news .news-box .news-card img {
    width: 100%;
    height: 150px;
}
.page2 .news .news-box .news-card .text {
    padding: 10px;
}
.page2 .news .news-box .news-card .text .title a {
    font-size: 15px;
    display: inline;
    cursor: pointer;
    color: #f0f0f0;
    text-decoration: none;
}
.page2 .news .news-box .news-card .text .title a:hover {
    text-decoration: underline;
}

// footer
.footer .box {
    width: 100px;
    height: 1000px;
    background-color: green;
    
}

